<html>
    <div>
        <ul class="timeline">
            <li>
                <span class="date">September 2024</span> Started my Statistics M.S. program at UC Davis
            </li>
            <li>
                <span class="date">June 2024</span> Graduated from UCLA with a B.S. in Data Theory
            </li>
            <li>
                <span class="date">May 2024</span> Received a Certificate of Recognition from the City of Los Angeles for <a href="https://cjunwon.github.io/projects/1-srilab_road_usage/">my work</a> in developing the <a href="https://site.hspa.info/application">Hillside Streets Assessment Tool</a> during a council meeting at Los Angeles City Hall
            </li>
            <li>
                <span class="date">April 2024</span> Received the <a href="https://www.spj.org/news.asp?REF=3015">2023 Society of Professional Journalists (SPJ) Mark of Excellence Award</a> for Best Data Visualization
            </li>
            <li>
                <span class="date">March 2024</span> Received the <a href="https://ccmatestsite.wordpress.com/">2024 California College Media Association (CCMA) Excellence in Student Media Awards</a> for Best Interactive Graphic
            </li>
        </ul>
    </div>
</html>